root = true

[*]
indent_style = tap
indent_size = 4
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{ex,exs}]
indent_style = tap
indent_size = 2
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

